table{
    border-collapse: collapse;
  }

  td {
    text-align: center;
  }

  table{
    margin-top: 20px;
    border-bottom: 2px solid lavender;
  }

  th {
    background-color: lavender;
  }
  button{
    margin: 5px;
  }